// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.my-custom-modal-css .modal-wrapper {
  position: absolute;
  top: calc(50% - (90% / 2));
  left: 0;
  right: 0;
  width: 90%;
  height: 70%;
  padding: 10px;
  z-index: 100;
  margin: 0 auto;
  padding: 10px;
  color: #333;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: auto;
}
ion-app {
  /*animation of native keyboard show*/
  transition: margin 300ms;
}
.alert-radio-label.sc-ion-alert-md {
  padding-left: 52px;
  padding-right: 26px;
  padding-top: 13px;
  padding-bottom: 13px;
  flex: 1;
  color: var(--ion-color-step-850, #262626);
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: pre-line;
}